<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="assets/images/Vi-nails-and-spa-logo-white.png" alt="Vi Nails And Spa">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mb-3" id="navbarResponsive">
                <ul id="main_menu" class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Our Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gallery.html">Gallery</a>
                    </li>
                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="tel:4702708971" target="_blank">Booking</a>-->
                    <!--</li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank"
                           href="https://www.lldtek.com/salon/appt/NTAxOTF8dmluYWlsczgzMnxUWF8wODE3NnwyMWU5NDhlN2FjMDVkNzBkY2FhMDg2ZDVjM2VjNmUwNQ==" data-booking>Appointment</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>